<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
          
        <nav class="navbar navbar-expand-lg navbar-dark indigo">
                <div class="container">
                    <!-- Navbar brand -->
                  
                
                    <!-- Collapse button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                
                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                
                        <!-- Links -->
                        <ul class="navbar-nav mr-auto text-center">
                                <li class="nav-item active">
                                    <a class="nav-link" href="https://alc-api-frontend.herokuapp.com">Home <span class="sr-only"></span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://alc-api-frontend.herokuapp.com/newStudent">Add new Student</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://alc-api-frontend.herokuapp.com/allStudent">View all Student</a>
                                </li>
                               
                            </ul>
                        
                    </div>
                    <!-- Collapsible content -->
                </div>
                </nav>
                <!--/.Navbar-->
                                