<% include partials/layout.ejs %>
<body>
    
<h1>welcome to IPaye student resources</h1>

<div class="">
<button><a href="newStudent">add new student</a></button>
<button><a href="allStudent">view all students</a></button>
</div>

<% include partials/footer.ejs %>