<% include partials/layout.ejs %>

    <!-- Start your project here-->
  
            
    <div style="height: 50vh">
            <div class="flex-center flex-column">
                <h1 class="animated fadeIn mb-4">WELCOME TO ALC 2.0 STUDENT RESOURCE</h1>
    
                    <ul>
                        <a  href="https://alc-api-frontend.herokuapp.com/newStudent" class="btn btn-primary btn-lg wow fadeInLeft" data-wow-delay="0.2s" rel="nofollow">Add New Student</a>
                        <a  href="https://alc-api-frontend.herokuapp.com/allStudent" class="btn btn-default btn-lg wow fadeInRight" data-wow-delay="0.2s" rel="nofollow">View All Student</a>
                    </ul>
            </div>
        </div>
            
    <!-- /Start your project here-->
    <% include partials/footer.ejs %>