		<% include partials/layout.ejs %>
		 
		<div class="container col-md-5 pt-4">
			<div class="jumbotron">
				
					<form class="form form-material" method="POST" action="https://alc-api-frontend.herokuapp.com/newStudent">
						<fieldset>
					<p class="h5 text-center mb-4"></p>
					<div class="md-form">
						<i class="fa fa-user prefix grey-text"></i>
						<input type="text" id="form3" value="" name="firstname" class="form-control"required>
						<label for="name">first name</label>
					</div>

					<div class="md-form">
						<i class="fa fa-user prefix grey-text"></i>
						<input type="text" id="form2" value="" name="lastname" class="form-control"required>
						<label for="lastname">lastname</label>
					</div>
					<div class="md-form">
						<i class="fa fa-phone prefix grey-text"></i>
						<input type="date" id="form2" value="" name="dob" placeholder="Date of Birth" class="form-control"required>
						<label for="dob"></label>
					</div>

					   <div class="md-form">
						<i class="fa fa-phone prefix grey-text"></i>
						<input type="text" id="form2" value="" name="address" class="form-control" required="">
						<label for="address">Address</label>
					</div>

					   <div class="md-form">
						<i class="fa fa-phone prefix grey-text"></i>
						<input type="text" id="form2" value="" name="sex" class="form-control"required>
						<label for="sex">Sex</label>
					</div>

					   <div class="md-form">
						<i class="fa fa-phone prefix grey-text"></i>
						<input type="text" id="form2" value="" name="class" class="form-control"required>
						<label for="class">level</label>
					</div>

					<div class="text-center">
						<button class="btn btn-light-green" type="submit" value="Submit">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
					</div>
					</fieldset>

					</form>

				</div>
			</div>
		</div>
			
     <% include partials/footer.ejs %>
